*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: #34495e;
}
.menu {
    float: right;
    margin-top: 35px;
    margin-right: 60px;
}
.menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
}
.calculator{
    text-align: center;
}
.main-container{
    background: #34495e;
    margin-top: 40px;
    width: 300px;
    height: 260px;
    display: inline-block;
    border-radius: 4px;
    padding-top: 10px;
}
.screen{
    background: #828A9B;
    width: 170px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 18px;
    border-top: 3px solid white;
    border-radius: 4px;
}
.clear{
    background-color: #7B8D8E;
    display: inline-block;
    width: 70px;
    height: 50px;
    margin-top: 10px;
    border-radius: 4px;
    line-height: 45px;
    cursor: pointer;
}
.numbers-list{
    margin-top: 20px;
}
.numbers-list li {
    display: inline-block;
    background: white;
    padding: 7px;
    margin-bottom: 10px;
    width: 45px;
    border-radius: 4px;
    cursor: pointer;
}
.numbers-list li:hover{
    background-color: #44B3C2;
    color: white;
    transition: .2s ease;
}
#equal{
    background-color: #F43341;
    color: white;
}